*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.registerdiv {
    height: 700px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
  }
  .registerdiv *:not(i) {
    font-family: "Quicksand", sans-serif;
    color: white;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  
  .registerdiv h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 22px;
    font-size: 16px;
    font-weight: 500;
  }
  input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  
  #pass_container {
    position: relative;
  }
  #password {
    padding-right: 50px;
  }
  #togglePassword {
    position: absolute;
    bottom: 7.6px;
    right: 12px;
    width: 24px;
    height: 24px;
  }

  ::placeholder {
    margin-left: 16px;
    color: #1b1b1b;
  }
  
  @media (prefers-color-scheme: dark) {
    ::placeholder {
      color: #e5e5e5;
    }
  }
  
  button {
    /*margin-top: 50px;*/
    margin-top: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  .social {
    margin-top: 30px;
    display: flex;
  }
  .social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #150f03;
    text-align: center;
    padding-top: 10px;
    user-select: none;
  }
  
  @media (prefers-color-scheme: dark) {
    .social div {
      color: #eaf0fb;
    }
  }
  
  .social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
  }

  .social .tg {
    margin-left: 25px;
  }
  .social i {
    margin-right: 4px;
  }
  
.note {
    margin-top: 12px;
    font-size: smaller;
    text-align: center;
    user-select: none;
}