GECKO_API_KEY="CG-xxxxxxxxxxxxxxxxxxxxxxxx"
MONGODB_URI="mongodb+srv://admin:password@cluster0.mongodb.net/coinerapi"
JWT_SECRET="I_LOVE_JAVASCRIPT_COINER_IS_THE_BEST_APP_EVER"
SMTP_USER="support@coinerapi.com"
SMTP_PASS="p@ssw0rd123!"