@import url("reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("theme.css");

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2"),
         url("../fonts/PlusJakartaSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2"),
         url("../fonts/PlusJakartaSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("../fonts/PlusJakartaSans-Bold.woff") format("woff2"),
         url("../fonts/PlusJakartaSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}